*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 1em;
  background-color: #e3e3e3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  display: flex;
  padding: 0.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  background-color: #e3e3e3;
  color: #233142;
  border: none;
  border-radius: 0.25em;
}