.filter-container,
.select-container {
  display: flex;
  flex-direction: column;
}

.filter-container,
.dog-container,
img {
  border-radius: 0.75em;
}

.filter-container {
  gap: 0.75em;
  margin-bottom: 0.5em;
  padding: 0.75em;
  background-color: #233142;
  color: #e3e3e3;
}

.select-container {
  gap: 0.5em;
}

select {
  padding: 0.5em;
  background-color: #e3e3e3;
  color: #233142;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0.5em;
}

.dog-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  background-color: #233142;
  color: #e3e3e3;
  margin-bottom: 1em;
  border: solid 0.5em #233142;
}

.selected {
  border: solid 0.5em #455d7a;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

img {
  width: 100%;
  object-fit: cover;
}

p {
  margin: 0;
  line-height: 1.5;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.disabled {
  color: #e3e3e3;
}

@media (min-width: 768px) {
  .filter-container {
    flex-direction: unset;
    justify-content: space-between;
  }

  .select-container {
    width: 50%;
  }

  .dog-container {
    grid-template-columns: 1fr 1fr;
  }

  .img-container {
    display: flex;
    max-width: 500px;
  }
  
  img {
    flex: 1 1 auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
  }

  .info-container p {
    place-self: start;
  }
}